absl-py==2.1.0
aiofiles==23.2.1
aiohttp==3.9.0
aiosignal==1.3.1
altair==5.1.2
annotated-types==0.6.0
anyio==3.7.1
appnope==0.1.3
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
attrs==23.1.0
autoviz==0.1.904
av==11.0.0
backoff==2.2.1
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.7.0
bokeh==3.4.1
bs4==0.0.1
cachetools==5.3.3
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
chromadb==0.3.25
click==8.1.7
clickhouse-connect==0.7.3
colorama==0.4.6
colorcet==3.1.0
coloredlogs==15.0.1
comm==0.2.0
contourpy==1.2.0
ctranslate2==4.1.0
cycler==0.12.1
dataclasses-json==0.6.4
debugpy==1.8.0
decorator==5.1.1
deepdiff==6.7.1
distlib==0.3.8
distro==1.8.0
Django==5.1.1
dm-tree==0.1.8
dnspython==2.6.1
docarray==0.40.0
duckdb==0.10.0
emoji==2.10.1
et-xmlfile==1.1.0
executing==2.0.1
faiss-cpu==1.8.0
fastapi==0.104.1
faster-whisper==1.0.1
ffmpeg==1.4
ffmpy==0.3.1
filelock==3.13.1
filetype==1.2.0
flatbuffers==24.3.7
fonttools==4.44.3
frozenlist==1.4.0
fsspec==2023.10.0
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.42
google-ai-generativelanguage==0.4.0
google-api-core==2.18.0
google-auth==2.29.0
google-generativeai==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.63.0
gradio==4.5.0
gradio_client==0.7.0
grpcio==1.62.1
grpcio-status==1.62.1
h11==0.14.0
h5py==3.10.0
hnswlib==0.8.0
holoviews==1.18.3
htmlmin==0.1.12
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.1
httpx-sse==0.4.0
huggingface-hub==0.21.4
humanfriendly==10.0
hvplot==0.10.0
idna==3.4
ImageHash==4.3.1
importlib-metadata==6.11.0
importlib-resources==6.1.1
install==1.3.5
ipykernel==6.26.0
ipython==8.18.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.4.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter_client==8.6.0
jupyter_core==5.5.0
keras==3.0.5
kiwisolver==1.4.5
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.33
langchain-google-genai==0.0.11
langchain-openai==0.0.8
langchain-text-splitters==0.0.1
langchainhub==0.1.15
langdetect==1.0.9
langserve==0.0.51
langsmith==0.1.31
libclang==18.1.1
linkify-it-py==2.0.3
llvmlite==0.42.0
loguru==0.7.2
lxml==5.1.0
lz4==4.3.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.1
mdurl==0.1.2
missingno==0.5.2
ml-dtypes==0.3.2
mlxtend==0.23.1
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
multidict==6.0.4
multimethod==1.11.2
mypy-extensions==1.0.0
namex==0.0.7
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
numba==0.59.0
numpy==1.26.2
onnxruntime==1.17.1
openai==1.14.1
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
openpyxl==3.1.2
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.9.15
overrides==7.7.0
packaging==23.2
pandas==2.1.3
pandas-dq==1.29
pandas-flavor==0.6.0
pandas-profiling==3.2.0
panel==1.4.2
param==2.1.0
parso==0.8.3
patsy==0.5.6
pexpect==4.8.0
phik==0.12.4
pillow==10.2.0
pinecone-client==2.2.4
pingouin==0.5.4
platformdirs==4.0.0
posthog==3.5.0
prompt-toolkit==3.0.41
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyamg==5.1.0
pyarrow==15.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydantic==2.6.4
pydantic_core==2.16.3
pydeck==0.8.1b0
pydub==0.25.1
pygame==2.6.0
Pygments==2.17.2
pyparsing==3.1.1
pypdf==4.1.0
PySide6==6.8.0
PySide6_Addons==6.8.0
PySide6_Essentials==6.8.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-iso639==2024.2.7
python-magic==0.4.27
python-multipart==0.0.6
python-pptx==0.6.23
pytz==2023.3.post1
pyviz_comms==3.0.2
PyWavelets==1.6.0
PyYAML==6.0.1
pyzmq==25.1.1
rapidfuzz==3.6.2
referencing==0.31.0
regex==2023.12.25
requests==2.31.0
rich==13.7.0
rpds-py==0.13.1
rsa==4.9
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.11.4
seaborn==0.13.1
semantic-version==2.10.0
sentence-transformers==2.6.0
setuptools==69.2.0
shellingham==1.5.4
shiboken6==6.8.0
simpy==4.1.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.28
sqlparse==0.5.1
sse-starlette==1.8.2
stack-data==0.6.3
starlette==0.27.0
statsmodels==0.14.2
streamlit==1.29.0
summarytools==0.3.0
sympy==1.12
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
textblob==0.18.0.post0
threadpoolctl==3.3.0
tiktoken==0.6.0
tokenizers==0.15.2
toml==0.10.2
tomlkit==0.12.0
toolz==0.12.0
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
transformers==4.38.2
typer==0.9.0
types-requests==2.31.0.20240311
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
uc-micro-py==1.0.3
unstructured==0.11.8
unstructured-client==0.22.0
urllib3==2.1.0
urlopen==1.0.0
uvicorn==0.24.0.post1
uvloop==0.19.0
validators==0.24.0
virtualenv==20.26.4
visions==0.7.4
watchfiles==0.21.0
wcwidth==0.2.12
webencodings==0.5.1
websockets==11.0.3
Werkzeug==3.0.1
wheel==0.43.0
wordcloud==1.9.3
wrapt==1.16.0
xarray==2024.3.0
xgboost==1.6.2
xlrd==2.0.1
XlsxWriter==3.2.0
xyzservices==2024.4.0
yarl==1.9.3
zipp==3.18.1
zstandard==0.22.0
